<!DOCTYPE html>
<html>
    <head>
        <title>Perlustro Book Information</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css')}}">
    </head>
    <body>
        <header>
            <div class="container-xl">
                <a href="{{url_for('search')}}"><img src="{{ url_for('static', filename='fa/svgs/solid/book.svg') }}">Perlustro</a>
            </div>
        </header>
        <section class="container-xl content">
            {% block body %}
            {% endblock %}
        </section>
        <footer>
            <section class="container-xl">
                {% block footer %}
                {% endblock %}
            </section>
        </footer>
    </body>
</html>